DOCKER_IMAGE=ghcr.io/position-chile/publicador-alarmas-worker:latest

# Endpoints
URL_PUBLICADOR_ALM=example.internal/api/publicador/registrosalm
URL_PUBLICADOR_ALM_VEL=example.internal/api/publicador/registrosalmvel
URL_OBTENER_MOVIL=example.internal/api/publicador/registrosmovil
URL_PUBLICADOR_ALM_GPS=example.internal/api/publicador/registrosalmgps
URL_ZONAS=example.internal/api/zonas/zona
URL_ZONAS_OCULTA=example.internal/api/zonas/zona_oculta
URL_CALLE_CERCA=example.internal/api2/zonas/calle_cerca
URL_ZONAS_OCULTA_CERCA=example.internal/api/zonas/zona_oculta_calle
URL_OBTENER_NOMBRE_POLIGONO=example.internal/api/zonas/obtener_nombre_poligono
URL_EVENTOS_ESPECIALES=example.internal/api/eventos_especiales/eventos_especiales_almv2

# Keys y cuentas
KEY_PUBLICADOR_API=change-me
KEY_ZONA_API=change-me
KEY_EVENTOS_API=change-me
CUENTA_API=POSITION

# Operacion
TIEMPO_DELATE=5
FECHA_HORA_MINIMA=2015-12-31 23_59_59
ALARMAS_EN_POLIGONO=305,307,304,353,717,505,720,719,214,1012

# Nodos
NODO=SITE30
NODO_ALM=ALMEventProtocol
NODO_PG=227

# Servidores
SERVIDOR_GPS=amazonaws_reg_alm
SERVIDOR_ALM=amazonaws_reg_alm
SERVIDOR_CONTENEDOR=amazonaws_reg_alm
SERVIDOR_CONFIGURACION=amazonaws_reg_alm
SERVIDOR_VLS=SITE30

# Metadata
NOMBRE_TABLA_ALARMAS=ALMEventProtocol
